/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */


:root {

  --ifm-color-primary: #d71920;
  --ifm-color-primary-dark: #c1161d;
  --ifm-color-primary-darker: #b6151b;
  --ifm-color-primary-darkest: #961116;
  --ifm-color-primary-light: #ed1c24;
  --ifm-color-primary-lighter: #ef333a;
  --ifm-color-primary-lightest: #f5787d;

  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);


  --ifm-navbar-height: 4rem;
}


[data-theme='dark'] {
  --ifm-color-primary: #ff5252;
  --ifm-color-primary-dark: #ff2929;
  --ifm-color-primary-darker: #ff1414;
  --ifm-color-primary-darkest: #e00000;
  --ifm-color-primary-light: #ff7b7b;
  --ifm-color-primary-lighter: #ff9090;
  --ifm-color-primary-lightest: #ffcece;

  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700 !important;

  letter-spacing: -0.5px;

}


.hero {

  background: linear-gradient(135deg, #911a1a 0%, #000000 100%);
  color: #fff;
}


.hero__title {
  text-transform: uppercase;

  font-size: 3.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}


.hero__subtitle {
  font-weight: 300;
  opacity: 0.9;
}


.button {
  border-radius: 4px;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.2s ease;
}

.button--primary {

  box-shadow: 0 4px 14px 0 rgba(215, 25, 32, 0.39);
}

.button--primary:hover {
  transform: translateY(-2px);

}


.navbar {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}


.menu__link--active {
  border-left: 4px solid var(--ifm-color-primary);
  background-color: rgba(215, 25, 32, 0.1);

  border-radius: 0 4px 4px 0;

  color: var(--ifm-color-primary) !important;
}

.menu__link--active:not(.menu__link--sublist) {
  background-color: rgba(215, 25, 32, 0.05);
}